{% extends "base.html" %}

{% block app_content %}

<!--TEAM INFORMATION-->
<div>
    <h1 style="margin-bottom:-15px">{{ team }}</h1>
    <h3 style="margin-bottom:-15px">{{team_conf_div[1]}} Conference</h3>
    <h3>{{team_conf_div[2]}} Division</h3>
</div>

<!--TEAM DATA-->
<div>
    <!--RECORD-->
    <table id="team-record">
        <thead>
            <tr>
                <th></th>
                <th>GP</th>
                <th>W</th>
                <th>L</th>
                <th>OT</th>
                <th>Pts</th>
                <th>Pts %</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>{{ team_data_stats['gamesPlayed'] }}</td>
                <td>{{ team_data_stats['wins'] }}</td>
                <td>{{ team_data_stats['losses'] }}</td>
                <td>{{ team_data_stats['ot'] }}</td>
                <td>{{ team_data_stats['pts'] }}</td>
                <td>{{ team_data_stats['ptPctg'] }}</td>
            </tr>
            <tr>
                <td style="font-weight:bold">NHL Rank</td>
                <td></td>
                <td>{{ team_data_ranks['wins'] }}</td>
                <td>{{ team_data_ranks['losses'] }}</td>
                <td>{{ team_data_ranks['ot'] }}</td>
                <td>{{ team_data_ranks['pts'] }}</td>
                <td>{{ team_data_ranks['ptPctg'] }}</td>
            </tr>
        </tbody>
    </table>

    <!--STATS-->
    <table id="team-stats">
        <thead>
            <tr>
                <th></th>
                <th>G/G</th>
                <th>GA/G</th>
                <th>PPG</th>
                <th>PP%</th>
                <th>PK%</th>
                <th>S/G</th>
                <th>SA/G</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>{{ team_data_stats['goalsPerGame']|round(2, 'common') }}</td>
                <td>{{ team_data_stats['goalsAgainstPerGame']|round(2, 'common') }}</td>
                <td>{{ team_data_stats['powerPlayGoals']|round|int }}</td>
                <td>{{ team_data_stats['powerPlayPercentage'] }}</td>
                <td>{{ team_data_stats['penaltyKillPercentage'] }}</td>
                <td>{{ team_data_stats['shotsPerGame']|round(2, 'common') }}</td>
                <td>{{ team_data_stats['shotsAllowed']|round(2, 'common') }}</td>
            </tr>
            <tr>
                <td style="font-weight:bold">NHL Rank</td>
                <td>{{ team_data_ranks['goalsPerGame'] }}</td>
                <td>{{ team_data_ranks['goalsAgainstPerGame'] }}</td>
                <td>{{ team_data_ranks['powerPlayGoals'] }}</td>
                <td>{{ team_data_ranks['powerPlayPercentage'] }}</td>
                <td>{{ team_data_ranks['penaltyKillPercentage'] }}</td>
                <td>{{ team_data_ranks['shotsPerGame'] }}</td>
                <td>{{ team_data_ranks['shotsAllowed'] }}</td>
            </tr>
        </tbody>
    </table>
</div>

<!--PROSPECT INFORMATION-->
<div>
    {% if no_prospects %}
        <p>No prospects entered for the {{ team }} yet...please be patient</p>
    {% else %}
    <table id="prospect-info">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Position</th>
                <th>Height</th>
                <th>Weight</th>
                <th>DOB</th>
                <th>Age</th>
                <th>Birthplace</th>
            </tr>
        </thead>
        <tbody>
            {% for prospect in prospects %}
            <tr>
                <td><a href="{{ url_for('player_page', player=prospect[0]) }}">{{ prospect[0] }}</a></td>
                <td>{{ prospect[1] }}</td>
                <td>{{ prospect[2] }}</td>
                <td>{{ prospect[3] }}</td>
                <td>{{ prospect[4] }}</td>
                <td>{{ prospect[5] }}</td>
                <td>{{ prospect[7] }}</td>
                <td>{{ prospect[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}